<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/2002/xmlspec/dtd/2.10/xmlspec.dtd">
<configuration status="INFO">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %t %c{1}:%L - %m %X{LOGID}%n" />
		</Console>
	</Appenders>
	<Loggers>
		<logger name="com.shizuwei" level="DEBUG"></logger>
		<logger name="org.springframework" level="DEBUG"></logger>
		<AsyncRoot level="info" additivity="false" includeLocation="true">
			<AppenderRef ref="console" />
		</AsyncRoot>
	</Loggers>
</configuration>
