td{
	text-align:left;
}

td>img, td > div{
	max-width:300px;
	display:inline-block;
}

.titlebar{
	margin:0;
	padding:0px;
	border:0px;
	display:inline-block;
}

.titlebar *{
	display:inline-block;
	width:auto;
}

.titlebar label{
	padding-left:10px;
}

.titlebar select{
	height:34px;
}



.hide{
	display: none;
}
