<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shizuwei.dal.main.dao.OrderGoodsMapper">
	<resultMap id="baseOrderGoodsMap" type="OrderGoods">
		<id property="orderGoodsId" column="order_goods_id" />
		<result property="orderId" column="order_id" />
		<result property="userId" column="user_id" />
		<result property="goodsId" column="goods_id" />
		<result property="goodsCnt" column="goods_cnt" />
		<result property="orderGoodsPrice" column="order_goods_price" />
		<result property="goodsStatus" column="goods_status" />
		<result property="orderStatus" column="order_status" />
		<result property="orderGoodsPriceDescription" column="order_goods_description" />
	</resultMap>

	<insert id="insert" useGeneratedKeys="true" keyProperty="orderGoodsId"
		parameterType="OrderGoods">
		insert into
		order_goods(order_goods_id,user_id,order_id,goods_id,goods_cnt,order_goods_price,order_goods_description,goods_status,order_status)
		values(#{orderGoodsId},#{userId},#{orderId},#{goodsId},#{goodsCnt},#{orderGoodsPrice},#{orderGoodsDescription},#{goodsStatus},#{orderStatus})
	</insert>

	<select id="list" parameterType="OrderGoods" resultMap="baseOrderGoodsMap">
		select * from order_goods
		<where>
			<if test="userId != null">
				and user_id = #{userId}
			</if>
			<if test="orderId != null">
				and order_id = #{orderId}
			</if>
			<if test="goodsId != null">
				and goods_id = #{goodsId}
			</if>
			<if test="goodsStatus != null">
				and goods_status = #{goodsStatus}
			</if>
			<if test="orderStatus != null">
				and order_status = #{orderStatus}
			</if>
		</where>
		order by order_goods_id asc
	</select>

	<update id="update" parameterType="OrderGoods">
		update order_goods
		<set>
			<if test="orderId != null">order_id=#{orderId},</if>
			<if test="userId != null">user_id=#{userId},</if>
			<if test="goodsId != null">goods_id=#{goodsId},</if>
			<if test="goodsCnt != null">goods_cnt=#{goodsCnt},</if>
			<if test="orderGoodsPrice != null">order_goods_price=#{orderGoodsPrice},</if>
			<if test="orderGoodsDescription != null">order_goods_description=#{orderGoodsDescription},</if>
			<if test="goodsStatus != null">goods_status=#{goodsStatus},</if>
			<if test="orderStatus != null">order_status=#{orderStatus}</if>
		</set>
		where order_goods_id=#{orderGoodsId}
	</update>

	<delete id="delById" parameterType="int">
		delete from order_goods where
		order_goods_id=#{id}
	</delete>

	<select id="getById" parameterType="int" resultMap="baseOrderGoodsMap">
		select *
		from
		order_goods where order_goods_id=#{id}
	</select>

	<select id="getByParams" parameterType="hashmap" resultMap="baseOrderGoodsMap">
		select *
		from order_goods where goods_id=#{goodsId} and
		user_id=#{userId}
	</select>

</mapper>