<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shizuwei.dal.main.dao.UserMapper">

	<resultMap type="User" id="baseUserMap">
		<id property="userId" column="user_id" />
		<result property="wxName" column="wx_name" />
		<result property="accountNumber" column="account_number" />
		<result property="ratio" column="ratio" />
		<result property="nickName" column="nick_name" />
		<result property="qq" column="qq" />
		<result property="lastLogin" column="last_login" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
	</resultMap>

	<select id="getById" parameterType="int" resultType="User">
		select *
		from user where user_id=#{userId}
	</select>

	<select id="getByIds" parameterType="list" resultMap="baseUserMap">
		select *
		from user where user_id in
		<foreach item="id" index="index" collection="list" open="("
			separator="," close=")">
			#{id}
		</foreach>
	</select>

	<select id="list" resultMap="baseUserMap">
		select * from user
		<where>
			<if test="userId != null">
				and user_id = #{userId}
			</if>
			<if test="wxName != null">
				and wx_name like '%#{wxName}%'
			</if>
			<if test="accountNumber !=null">
				and account_number = #{accountNumber}
			</if>
			<if test="qq !=null">
				and qq = #{qq}
			</if>
			<if test="nickName !=null">
				and nick_name = #{nickName}
			</if>
		</where>
		order by user_id asc
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="userId"
		parameterType="User">
		insert into
		user(wx_name,account_number,ratio,nick_name,qq)
		values(#{wxName},#{accountNumber},#{ratio},#{nickName},#{qq})
	</insert>

	<delete id="delById" parameterType="int">
		delete from user where
		user_id=#{userId}
	</delete>

	<update id="update" parameterType="User">
		update user
		<set>
			<if test="wxName != null">wx_name=#{wxName},</if>
			<if test="accountNumber != null">account_number=#{accountNumber},</if>
			<if test="ratio != null">ratio=#{ratio},</if>
			<if test="qq != null">qq=#{qq},</if>
			<if test="nickName != null">nick_name=#{nickName},</if>
			<if test="lastLogin != null">last_login=#{lastLogin}</if>
		</set>
		where user_id=#{userId}
	</update>

	<select id="getByNumber" parameterType="string" resultType="User">
		select * from user where
		account_number=#{number}
	</select>

</mapper>